@charset "UTF-8";


@media screen and (min-width: 769px) {
    body {
        background-image: url("../imagens/fundohorizontal.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    .div{
        width: 700px;
        
    }
}


h1{
    
    text-align: center;
    color: white;
    font-size: 3em;
    
}
h1 .material-symbols-outlined {
    font-size: 48px;
    vertical-align: middle;
    
}

